{% extends "base.html" %}

{% block content %}

{% with total_results=artists|length|add:venues|length|add:concerts|length %}

<div class="row justify-content-center">
    <div class="col col-md-8 col-sm-12">
        <!-- Artists Results -->
        {% if artists %}
          <div class="card mt-3">
            <h5 class="card-header card-header-custom display-4 text-center">Artists</h5>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  {% for artist in artists %}
                  <tr>
                    <td>{{ artist.name }}</td>
                    <td>{{ artist.genre }}</td>
                    <td><a href="{% url 'artist_detail' artist.id %}">View Details</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
        {% endif %}

        <!-- Venues Results -->
        {% if venues %}
        <div class="card mt-3">
            <h5 class="card-header card-header-custom display-4 text-center">Venues</h5>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  {% for venue in venues %}
                  <tr>
                    <td>{{ venue.name }}</td>
                    <td>{{ venue.location }}</td>
                    <td><a href="{% url 'venue_detail' venue.id %}">View Details</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
        {% endif %}

        <!-- Concerts Results -->
        {% if concerts %}
        <div class="card mt-3">
            <h5 class="card-header card-header-custom display-4 text-center">Concerts</h5>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Artist</th>
                    <th>Venue</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for concert in concerts %}
                  <tr>
                    <td>{{ concert.artist.name }}</td>
                    <td>{{ concert.venue.name }}</td>
                    <td>{{ concert.date }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
        {% endif %}

        <!-- No Results Found -->
        {% if total_results == 0 %}
        <div class="card mt-2">
            <h5 class="card-header card-header-custom display-4 text-center">No Results Found</h5>
            <div class="table-responsive">
                <p class="text-center py-3">We couldn't find any matches for your search. Please try again with different keywords.</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endwith %}

{% endblock %}
