{% load static i18n %}

<div class="mb-1">
  <nav class="navbar navbar-custom sticky-top navbar-expand-md navbar-dark justify-content-between bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'concerts:home' %}">Concert Elephant<span class="visually-hidden">(current)</span></a>
      <button class="navbar-toggler navbar-toggler-right"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-nowrap">
          <li class="nav-item d-inline mt-2">
            {% url 'concerts:artist-list' as path %}
            <a class="nav-link nav-link-custom {% if request.path == path %}nav-link-active{% endif %}"
               href="{% url 'concerts:artist-list' %}">Artists</a>
          </li>
          <li class="nav-item d-inline mt-2">
            {% url 'concerts:concert-list' as path %}
            <a class="nav-link nav-link-custom {% if request.path == path %}nav-link-active{% endif %}"
               href="{% url 'concerts:concert-list' %}">Concerts</a>
          </li>
          <li class="nav-item d-inline mt-2">
            {% url 'concerts:venue-list' as path %}
            <a class="nav-link nav-link-custom {% if request.path == path %}nav-link-active{% endif %}"
               href="{% url 'concerts:venue-list' %}">Venues</a>
          </li>
        </ul>
        <form class="d-flex w-100 mt-2 mb-2 d-inline"
              action="{% url 'concerts:main_search' %}"
              method="POST">
          {% csrf_token %}
          <label for="mainSearch" class="sr-only"></label>
          <input class="form-control pl-2 me-2"
                 type="search"
                 id="mainSearch"
                 placeholder="Artist or Venue..."
                 name="search_query" />
          <button type="submit"
                  class="btn btn-dark btn-lg btn-block text-white btn-search">Search</button>
        </form>
        <ul class="navbar-nav ml-auto text-nowrap">
          {% if request.user.is_authenticated %}
            <li class="nav-item d-inline mt-2">
              {% url 'users:detail' request.user.username as path %}
              <a class="nav-link nav-link-custom {% if request.path == path %}nav-link-active{% endif %}"
                 href="{% url 'users:detail' request.user.username %}">{% translate "My Concerts" %}</a>
            </li>
            <li class="nav-item d-inline mt-2">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link nav-link-custom " href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
            </li>
          {% else %}
            {% if ACCOUNT_ALLOW_REGISTRATION %}
              <li class="nav-item d-inline mt-2">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link"
                   class="nav-link nav-link-custom"
                   href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
              </li>
            {% endif %}
            <li class="nav-item d-inline mt-2">
              <a id="log-in-link"
                 class="nav-link nav-link-custom"
                 href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
