{% extends "base.html" %}

{% load static %}
{% load crispy_forms_filters %}
{% load custom_filters %}

{% block title %}
  User:
  {{ object.username }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ object.username }}</h2>
        {% if object.name %}<p>{{ object.name }}</p>{% endif %}
      </div>
    </div>
    {% if object == request.user %}
      <!-- Action buttons -->
      <div class="row">
        <div class="col-sm-12">
          <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
          <a class="btn btn-primary"
             href="{% url 'account_email' %}"
             role="button">E-Mail</a>
          <!-- Your Stuff: Custom user template urls -->
        </div>
      </div>
      <!-- End Action buttons -->
      <table class="table table-striped" style="white-space:nowrap;">
        <tr>
          <th>Artist</th>
          <th>Venue</th>
          <th>Date</th>
          <th>Review</th>
        </tr>
        {% for concert in concerts_with_reviews %}
          <tr>
            <td>{{ concert.artist }}</td>
            <td>{{ concert.venue }}</td>
            <td>{{ concert.date }}</td>
            <td>
              {% if concert.user_review %}
                <strong>Rating:</strong> {{ concert.user_review.rating }}/5
                <p>{{ concert.user_review.note }}</p>
              {% else %}
                <form method="post"
                      action="{% url 'concerts:add_concert_review' concert.id %}">
                  {% csrf_token %}
                  <div class="mb-2">{{ review_form.rating|as_crispy_field }}</div>
                  <div class="mb-2">{{ review_form.note|as_crispy_field }}</div>
                  <button type="submit" class="btn btn-sm btn-primary text-white">Submit</button>
                </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    {% if concerts_with_reviews.has_other_pages %}
      <div class="pagination">
        <span class="step-links">
          {% if concerts_with_reviews.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary text-white">&laquo; first</a>
            <a href="?page={{ concerts_with_reviews.previous_page_number }}"
               class="btn btn-outline-primary text-white">previous</a>
          {% endif %}
          {# Display up to 2 pages before the current page #}
          {% for page_number in concerts_with_reviews.paginator.page_range %}
            {% if page_number >= concerts_with_reviews.number|subtract:2 and page_number <= concerts_with_reviews.number|add:2 %}
              {% if concerts_with_reviews.number == page_number %}
                <button class="btn btn-outline-primary active text-white">
                  <span class="current-page">{{ concerts_with_reviews.number }}</span>
                </button>
              {% else %}
                <a href="?page={{ page_number }}"
                   class="btn btn-outline-primary text-white">{{ page_number }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if concerts_with_reviews.has_next %}
            <a href="?page={{ concerts_with_reviews.next_page_number }}"
               class="btn btn-outline-primary text-white">next</a>
            <a href="?page={{ concerts_with_reviews.paginator.num_pages }}"
               class="btn btn-outline-primary text-white">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  </div>
{% endblock content %}
