{% extends "base.html" %}

{% load static %}
{% load crispy_forms_filters %}
{% load custom_filters %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-12 col-sm-12">
      <div class="card">
        <h5 class="card-header card-header-custom display-4 text-center">My Concerts</h5>
      </div>
      {% if object == request.user %}
        <table class="table table-striped">
          <tr>
            <th style="width: 15%;">Artist</th>
            <th style="width: 15%;" class="text-center">Venue</th>
            <th style="width: 15%;" class="text-center">Date</th>
            <th style="width: 15%;" class="text-center">Openers</th>
            <th style="width: 40%;">Review</th>
          </tr>
          {% for concert in concerts_with_reviews %}
            <tr>
              <td>{{ concert.artist }}</td>
              <td class="text-center">{{ concert.venue }}</td>
              <td class="text-center">{{ concert.date }}</td>
              <td>
                {% for opener in concert.opener.all %}
                  {{ opener.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
              </td>
              <td>
                {% if concert.user_review %}
                  <strong>Rating:</strong> {{ concert.user_review.rating }}/5
                  <p class="review-note">
                    {% if concert.user_review.note|length > 150 %}
                      <span class="truncated-note">
                        {{ concert.user_review.note|slice:":150" }}...
                        <i class="bi bi-arrow-bar-down show-more-btn"
                           style="cursor:pointer"
                           title="Show more"
                           onclick="toggleReview(this)"></i>
                      </span>
                      <span class="full-note" style="display:none;">
                        {{ concert.user_review.note }}
                        <i class="bi bi-arrow-bar-up show-less-btn"
                           style="cursor:pointer"
                           title="Show less"
                           onclick="toggleReview(this)"></i>
                      </span>
                      <br />
                      <i class="bi bi-pencil-square"
                         id="edit-review-btn"
                         style="cursor:pointer"
                         title="Edit review"
                         data-review-id="{{ concert.user_review.id }}"></i>
                    {% else %}
                      {{ concert.user_review.note }}
                      <br />
                      <i class="bi bi-pencil-square"
                         id="edit-review-btn"
                         style="cursor:pointer"
                         title="Edit review"
                         data-review-id="{{ concert.user_review.id }}"></i>
                    {% endif %}
                  </p>
                {% else %}
                  <button class="btn btn-primary text-white"
                          id="showModalBtn"
                          data-concert-id="{{ concert.id }}">Add Review</button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
      <!-- Pagination -->
      {% if concerts_with_reviews.has_other_pages %}
        <div class="pagination">
          <span class="step-links">
            {% if concerts_with_reviews.has_previous %}
              <a href="?page=1" class="btn btn-outline-primary text-white">&laquo; first</a>
              <a href="?page={{ concerts_with_reviews.previous_page_number }}"
                 class="btn btn-outline-primary text-white">previous</a>
            {% endif %}
            {# Display up to 2 pages before the current page #}
            {% for page_number in concerts_with_reviews.paginator.page_range %}
              {% if page_number >= concerts_with_reviews.number|subtract:2 and page_number <= concerts_with_reviews.number|add:2 %}
                {% if concerts_with_reviews.number == page_number %}
                  <button class="btn btn-outline-primary active text-white">
                    <span class="current-page">{{ concerts_with_reviews.number }}</span>
                  </button>
                {% else %}
                  <a href="?page={{ page_number }}"
                     class="btn btn-outline-primary text-white">{{ page_number }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
            {% if concerts_with_reviews.has_next %}
              <a href="?page={{ concerts_with_reviews.next_page_number }}"
                 class="btn btn-outline-primary text-white">next</a>
              <a href="?page={{ concerts_with_reviews.paginator.num_pages }}"
                 class="btn btn-outline-primary text-white">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      {% endif %}
    </div>
    <!-- Bootstrap Modal for Writing a Concert Review -->
    <div class="modal fade"
         id="createReviewModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="createReviewModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createReviewModalLabel">Review the Concert</h5>
            <button type="button"
                    id="closeReviewModalButton"
                    class="btn btn-info text-white close"
                    data-dismiss="modal"
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-messages" id="modal-review-messages"></div>
            <form method="post" id="reviewForm">
              {% csrf_token %}
              <input type="hidden" name="review_id" id="reviewId" value="" />
              <h5 id="modalTitle">{{ concert }}</h5>
              <div class="form-group">
                <label for="reviewText">Review</label>
                <textarea class="form-control"
                          name="note"
                          id="reviewText"
                          rows="3"
                          placeholder="Write your review..."></textarea>
              </div>
              <div class="form-group">
                <label for="starRating">Rating</label>
                <select class="form-control" name="rating" id="starRating">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div>
                <i id="deleteReviewIcon"
                   title="Delete review"
                   class="bi bi-trash text-danger mt-2"
                   style="cursor:pointer;
                          display:none"></i>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary text-white mt-2">Submit Review</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap modal for confirming the deletion of concert review -->
    <div class="modal fade"
         id="deleteConfirmModal"
         tabindex="-1"
         aria-labelledby="deleteModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">Are you sure you want to delete this review?</div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary text-white"
                    data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger text-white" id="confirmDelete">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let modal = document.getElementById('createReviewModal');
    let btns = document.querySelectorAll("#showModalBtn");
    let reviewForm = document.getElementById('reviewForm');
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    const editBtns = document.querySelectorAll('#edit-review-btn');

    function closeCreateReviewModal() {
      $("#createReviewModal").modal("hide");
    }

    $("#closeReviewModalButton").click(function() {
      closeCreateReviewModal();
    });

    function fetchReviewData(reviewId) {
      fetch(`/concert/review/${reviewId}/`)
        .then(response => response.json())
        .then(data => {
          // Populate the modal fields with existing review data
          console.log(data)
          document.getElementById('reviewText').value = data.note;
          document.getElementById('starRating').value = data.rating;
          document.getElementById('reviewId').value = reviewId;
          document.getElementById('reviewForm').action = `{% url 'concerts:update_concert_review' review_id=0 %}`.replace('0', data.review_id);

          document.getElementById('deleteReviewIcon').style.display = 'block';

          $('#createReviewModal').modal('show');
        })
        .catch(error => {
          console.error("Error fetching review data:", error);
        });
    }

    function toggleReview(element) {
      let shortNote = element.closest('.review-note').querySelector('.truncated-note');
      let fullNote = element.closest('.review-note').querySelector('.full-note');

      if (shortNote.style.display === 'none') {
        shortNote.style.display = '';
        fullNote.style.display = 'none';
      } else {
        shortNote.style.display = 'none';
        fullNote.style.display = '';
      }
    }

    btns.forEach(btn => {
      btn.addEventListener("click", function() {
        let concertId = btn.getAttribute("data-concert-id");
        reviewForm.action = `{% url 'concerts:add_concert_review' 0 %}`.replace('0', concertId);
        let tr = btn.parentElement.parentElement;
        let artist = tr.querySelector('td:nth-child(1)').textContent;
        let venue = tr.querySelector('td:nth-child(2)').textContent;
        let date = tr.querySelector('td:nth-child(3)').textContent;
        let modalHeader = document.querySelector("#modalTitle");
        modalHeader.textContent = `${artist} at ${venue} on ${date}`;
        $('#createReviewModal').modal('show');
      });
    });

    editBtns.forEach(btn => {
      btn.addEventListener('click', function() {
        const reviewId = btn.getAttribute('data-review-id');
        // Fetch the current review data from the server
        fetchReviewData(reviewId);
      });
    });

    // Event listener for the delete icon
    document.getElementById('deleteReviewIcon').addEventListener('click', function() {
      // Show the delete confirmation modal
      $('#deleteConfirmModal').modal('show');
    });

    // Event listener for the "Delete" button inside the confirmation modal
    document.getElementById('confirmDelete').addEventListener('click', function() {
      let reviewId = document.getElementById('reviewId').value;

      fetch(`/concert/review/delete/${reviewId}/`, {
          method: 'DELETE',
          headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            $('#deleteConfirmModal').modal('hide');
            $('#createReviewModal').modal('hide');
            location.reload();
          } else {
            let modalMessages = document.getElementById('modal-review-messages');
            modalMessages.innerHTML = data.errors;
          }
        })
        .catch(error => {
          console.error("Error deleting review:", error);
        });
    });

    reviewForm.addEventListener('submit', function(e) {
      e.preventDefault();

      let formData = new FormData(reviewForm);
      let actionURL = reviewForm.action;

      fetch(actionURL, {
          method: 'POST',
          body: formData,
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            $('#createReviewModal').modal('hide');
            location.reload();
          } else {
            let modalMessages = document.getElementById('modal-review-messages');
            modalMessages.innerHTML = data.errors;
          }
        })
        .catch(error => {
          console.error("Error submitting review:", error);
        });
    });

    // Change the modal title when showing the modal to add a new review
    $("#showModalBtn").click(function() {
      $('#createReviewModalLabel').text('Review the Concert');
    });

    // Change the modal title when showing the modal to edit a review
    $(document).on('click', '#edit-review-btn', function() {
      $('#createReviewModalLabel').text('Edit Your Review');
    });
  </script>
{% endblock content %}
