{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-12 col-sm-12">
      <div class="card text-center card-header card-header-custom">
        <h5 class="display-4 text-center">Artists</h5>
      </div>
      <div class="card-body">
        {% if user.is_authenticated %}
        <div class="text-center button-bar-custom pb-2">
          <a class="link" href="{% url 'concerts:artist-create' %}">
            <button class="btn btn-outline-info text-white" type="submit">Add Artist</button>
          </a>
        </div>
        {% endif %}
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead class="table-custom">
              <tr>
                <th class="text-center" scope="col">
                  Artist
                  <span class="sort-icon" data-sort="name">
                    <a href="{% if request.GET.sort_by == "name" %}?sort_by=-name{% else %}?sort_by=name{% endif %}">
                      <i title="Sort" class="bi bi-arrow-down-up default-icon {% if "name" in request.GET.sort_by or "-name" in request.GET.sort_by %}hidden{% endif %}"></i>
                    </a>
                    <a href="?sort_by=-name">
                      <i title="Change to descending" class="bi bi-arrow-up asc-icon {% if request.GET.sort_by == "name" %}active{% endif %}"></i>
                    </a>
                    <a href="?sort_by=name">
                      <i title="Change to ascending" class="bi bi-arrow-down desc-icon {% if request.GET.sort_by == "-name" %}active{% endif %}"></i>
                    </a>
                  </span>
                </th>
                <th class="text-center" scope="col">
                  Concerts
                  <span class="sort-icon" data-sort="concert_count">
                    <a href="{% if request.GET.sort_by == "concert_count" %}?sort_by=-concert_count{% else %}?sort_by=concert_count{% endif %}">
                      <i title="Sort" class="bi bi-arrow-down-up default-icon {% if "concert_count" in request.GET.sort_by or "-concert_count" in request.GET.sort_by %}hidden{% endif %}"></i>
                    </a>
                    <a href="?sort_by=-concert_count">
                      <i title="Change to descending" class="bi bi-arrow-up asc-icon {% if request.GET.sort_by == "concert_count" %}active{% endif %}"></i>
                    </a>
                    <a href="?sort_by=concert_count">
                      <i title="Change to ascending" class="bi bi-arrow-down desc-icon {% if request.GET.sort_by == "-concert_count" %}active{% endif %}"></i>
                    </a>
                  </span>
                </th>
              </tr>
            </thead>
            {% for artist in page_obj %}
              <tr class="clickable-row"
                  data-href="{% url 'concerts:artist-detail' artist.id %}">
                <td class="align-middle text-center">{{ artist.name }}</td>
                <td class="align-middle text-center">{{ artist.concerts.count }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        {% if page_obj.has_other_pages %}
            {% with paginator_data=page_obj %}
                {% include "pagination_partial.html" %}
            {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
