{% extends "base.html" %}

{% load custom_filters %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-12 col-sm-12">
      <div class="card text-center card-header card-header-custom">
        <h5 class="display-4 text-center">Artists</h5>
      </div>
      <div class="card-body">
        <div class="text-center button-bar-custom pb-2">
          <a class="link" href="{% url 'concerts:artist-create' %}">
            <button class="btn btn-outline-info text-white" type="submit">Add Artist</button>
          </a>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead class="table-custom">
              <tr>
                <th class="text-center" scope="col">Artist</th>
                <th class="text-center" scope="col">Concerts</th>
              </tr>
            </thead>
            {% for artist in page_obj %}
              <tr class="clickable-row"
                  data-href="{% url 'concerts:artist-detail' artist.id %}">
                <td class="text-center">{{ artist.name }}</td>
                <td class="text-center">{{ artist.concerts.count }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>

        <div class="pagination justify-content-center mb-2">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1" class="btn btn-outline-primary text-white">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}"
                 class="btn btn-outline-primary text-white">previous</a>
            {% endif %}
            {% for page_number in page_obj.paginator.page_range %}
              {% if page_number >= page_obj.number|subtract:"2" and page_number <= page_obj.number|add:"2" %}
                {% if page_obj.number == page_number %}
                  <button class="btn btn-outline-primary active text-white">
                    <span class="current-page">{{ page_obj.number }}</span>
                  </button>
                {% else %}
                  <a href="?page={{ page_number }}"
                     class="btn btn-outline-primary text-white">{{ page_number }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}"
                 class="btn btn-outline-primary  text-white">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}"
                 class="btn btn-outline-primary  text-white">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
