{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-8 col-sm-12">
      <div class="card">
        <h5 class="card-header card-header-custom display-4 text-center">{{ artist }}</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="table-custom">
            <tr>
              <th class="text-center" scope="col">Artist</th>
              <th class="text-center" scope="col">Total Concerts</th>
            </tr>
          </thead>
          <tr>
            <td class="text-center">{{ artist }}</td>
            <td class="text-center">{{ artist.concerts.count }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row pt-3 justify-content-center">
    <div class="col col-md-8 col-sm-12">
      <div class="card">
        <h5 class="card-header card-header-custom display-4 text-center">Recent Concerts</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="table-custom">
            <tr>
              <th scope="col">Artist</th>
              <th class="text-center" scope="col">Venue</th>
              <th class="text-center" scope="col">Date</th>
            </tr>
          </thead>
          {% for concert in recent_concerts %}
            <tr>
              <td>{{ concert.artist }}</td>
              <td class="text-center">{{ concert.venue }}</td>
              <td class="text-center">{{ concert.date }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
