{% extends "base.html" %}

{% block content %}
  <div class="row d-flex mt-4 text-center">
    <h1>{{ concert.artist }}</h1>
    <div class="col col-md-4 offset-md-2">
      <table class="table table-striped" style="white-space:nowrap;">
        <tr>
          <th>Artist</th>
          <th>Venue</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>{{ concert.artist }}</td>
          <td>{{ concert.venue }}</td>
          <td>{{ concert.date }}</td>
        </tr>
      </table>
      {% if user.is_authenticated %}
        {% if concert.id not in user_concerts %}
          <form class="form-inline"
                action="{% url 'concerts:attend-concert' pk=concert.id %}"
                method="POST">
            {% csrf_token %}
            <button class="btn btn-info btn-sm" type="submit">I was there!</button>
          </form>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
