{% extends "base.html" %}

{% block content %}
  <br />
  <div class="content-section">
    <div class="row d-flex mt-4 text-center">
      <h1>Concerts</h1>
    </div>
    <table class="table table-striped" style="white-space:nowrap;">
      <tr>
        <th>Artist</th>
        <th>Venue</th>
        <th>Date</th>
        <th></th>
      </tr>
      {% for concert in concert_list %}
        <tr>
          <td>{{ concert.artist }}</td>
          <td>{{ concert.venue }}</td>
          <td>{{ concert.date }}</td>
          <td>
            <a class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover text-decoration-none link"
               href="{% url 'concerts:concert-detail' concert.id %}">
              <span>More info</span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="form-group">
    <a class="link" href="{% url 'concerts:concert-create' %}">
      <button class="btn btn-outline-info" type="submit">Add Concert</button>
    </a>
  </div>
{% endblock content %}
