{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block form %}
  <form id="concert-form"
        method="POST"
        action="{% url 'concerts:concert-create' %}">
    {% csrf_token %}
    <div class="form-group mb-2">
      <div>
        <label for="artist-autocomplete">Artist*</label>
        <i class="bi bi-person-plus-fill"
           style="cursor:pointer"
           title="Add new artist"
           id="createNewArtistButton"></i>
      </div>
      <input type="text"
             id="artist-autocomplete"
             name="artist"
             data-autocomplete-url="{% url 'concerts:unified-autocomplete' 'artist' %}"
             style="cursor:pointer"
             class="form-control"
             placeholder="Start typing artist name..." />
      <input type="hidden" name="artist" id="concert-artist" />
    </div>
    <div class="form-group mb-2">
      <div>
        <label for="venue-autocomplete">Venue*</label>
        <i class="bi bi-plus-square"
           style="cursor:pointer"
           title="Add new venue"
           id="createNewVenueButton"></i>
      </div>
      <input type="text"
             id="venue-autocomplete"
             name="venue"
             data-autocomplete-url="{% url 'concerts:unified-autocomplete' 'venue' %}"
             placeholder="Start typing a venue..."
             class="form-control" />
      <input type="hidden" name="venue" id="concert-venue" />
    </div>
    <div class="form-group mb-2" id="opener-container">
      <div>
        <label for="opener-autocomplete-1">Opener</label>
        <i class="bi bi-person-plus-fill"
           style="cursor:pointer"
           title="Add new opener"
           id="createNewOpenerButton"></i>
      </div>
      <input type="text"
             id="opener-autocomplete-1"
             data-autocomplete-url="{% url 'concerts:unified-autocomplete' 'opener' %}"
             placeholder="Start typing opener name..."
             class="form-control opener-input" />
      <input type="hidden" name="opener-1" id="concert-opener-1" />
      <i class="bi bi-plus-circle"
         style="cursor:pointer"
         title="Add another opener"
         id="createOpenerButton-1"></i>
    </div>
    <div class="form-group custom-errors-container">
        {{ form.non_field_errors|as_crispy_errors }}
    </div>
    {% for field in form %}
      {% if field.name != "artist" and field.name != "venue" and field.name != "opener" %}
        <div class="form-group">{{ field|as_crispy_field }}</div>
      {% endif %}
    {% endfor %}
    <div class="text-center">
      <button class="btn btn-outline-info text-white" type="submit">Add Concert</button>
    </div>
  </form>
{% endblock form %}
