{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-12 col-sm-12">
      <div class="card text-center card-header card-header-custom">
        <h5 class="display-4 text-center">Concerts</h5>
      </div>
      <div class="card-body">
        {% if user.is_authenticated %}
        <div class="text-center button-bar-custom pb-2">
          <a class="link" href="{% url 'concerts:concert-create' %}">
            <button class="btn btn-outline-info text-white" type="submit">Add Concert</button>
          </a>
        </div>
        {% endif %}
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead class="table-custom">
              <tr>
                <th scope="col" class="text-center">
                  Artist
                  <span class="sort-icon" data-sort="artist">
                      <a href="?sort_by=artist">
                        <i title="Sort" class="bi bi-arrow-down-up default-icon {% if request.GET.sort_by == "artist" or request.GET.sort_by == "-artist" %}hidden{% endif %}"></i>
                    </a>
                    <a href="?sort_by=-artist">
                        <i title="Change to descending" class="bi bi-arrow-down asc-icon {% if request.GET.sort_by == "artist" %}active{% endif %}"></i>
                    </a>
                    <a href="?sort_by=artist">
                        <i title="Change to ascending" class="bi bi-arrow-up desc-icon {% if request.GET.sort_by == "-artist" %}active{% endif %}"></i>
                    </a>
                  </span>
                </th>
                <th scope="col" class="text-center">
                  Venue
                  <span class="sort-icon" data-sort="venue">
                    <a href="?sort_by=venue">
                        <i title="Sort" class="bi bi-arrow-down-up default-icon {% if request.GET.sort_by == "venue" or request.GET.sort_by == "-venue" %}hidden{% endif %}"></i>
                    </a>
                    <a href="?sort_by=-venue">
                        <i title="Change to descending" class="bi bi-arrow-down asc-icon {% if request.GET.sort_by == "venue" %}active{% endif %}"></i>
                    </a>
                    <a href="?sort_by=venue">
                        <i title="Change to ascending" class="bi bi-arrow-up desc-icon {% if request.GET.sort_by == "-venue" %}active{% endif %}"></i>
                    </a>
                  </span>
                </th>
                <th scope="col" class="text-center">
                  Date
                  <span class="sort-icon" data-sort="date">
                    <a href="?sort_by=date">
                        <i title="Sort" class="bi bi-arrow-down-up default-icon {% if request.GET.sort_by == "date" or request.GET.sort_by == "-date" %}hidden{% endif %}"></i>
                    </a>
                    <a href="?sort_by=-date">
                        <i title="Change to descending" class="bi bi-arrow-down asc-icon {% if request.GET.sort_by == "date" %}active{% endif %}"></i>
                    </a>
                    <a href="?sort_by=date">
                        <i title="Change to ascending" class="bi bi-arrow-up desc-icon {% if request.GET.sort_by == "-date" %}active{% endif %}"></i>
                    </a>
                  </span>
                </th>
                <th class="text-center">Openers</th>
                <th></th>
              </tr>
            </thead>
            {% for concert in page_obj %}
              <tr class="clickable-row"
                  data-href="{% url 'concerts:concert-detail' concert.id %}">
                <td class="align-middle text-center">{{ concert.artist }}</td>
                <td class="align-middle text-center">{{ concert.venue }}</td>
                <td class="align-middle text-center">{{ concert.date }}</td>
                <td class="align-middle text-center">
                  {% for opener in concert.opener.all %}
                    {{ opener.name }}
                    {% if not forloop.last %},{% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% include "concerts/attend_concert.html" %}
                  {% include "concerts/unattend_concert.html" %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        {% if page_obj.has_other_pages %}
            {% with paginator_data=page_obj %}
                {% include "pagination_partial.html" %}
            {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
