{% extends "base.html" %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <script type="text/javascript">
    let artistDetailUrlTemplate = "{% url 'concerts:artist-detail' 0 %}".replace('0', '__pk__');
    let venueDetailUrlTemplate = "{% url 'concerts:venue-detail' 0 %}".replace('0', '__pk__');
    const concertListUrl = "{% url 'concerts:concert-list' %}";
  </script>

  <div class="row justify-content-center">
    <div class="col col-md-8 col-sm-12">
      <div class="card">
        <h5 class="card-header card-header-custom display-4 text-center">New Concert</h5>
      </div>
      <div id="form-container">{% include "concerts/concert_partial.html" %}</div>
      {{ form.media }}
    </div>
  </div>

  <!-- Bootstrap Modal for Creating a New Artist -->
  <div class="modal fade"
       id="createArtistModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="createArtistModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createArtistModalLabel">Create New Artist</h5>
          <button type="button"
                  id="closeArtistModalButton"
                  class="btn btn-info text-white close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-messages" id="modal-messages"></div>
          <form method="post"
                id="createArtistForm"
                action="{% url 'concerts:artist-create' %}">
            {% csrf_token %}
            {{ artist_form|crispy }}
            <div class="text-center">
              <button type="submit" class="btn btn-primary text-white mt-2" id="artistCreateButton"
                      data-url="{% url 'concerts:artist-create' %}">Create Artist</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap Modal for Creating a New Opener -->
  <div class="modal fade"
       id="createOpenerModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="createOpenerModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createOpenerModalLabel">Create New Opener</h5>
          <button type="button"
                  id="closeOpenerModalButton"
                  class="btn btn-info text-white close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-messages" id="modal-opener-messages"></div>
          <form method="post"
                id="createOpenerForm"
                action="{% url 'concerts:artist-create' %}">
            {% csrf_token %}
            {{ artist_form|crispy }}
            <div class="text-center">
              <button type="submit" class="btn btn-primary text-white mt-2">Create Opener</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap Modal for Creating a New Venue -->
  <div class="modal fade"
       id="createVenueModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="createVenueModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createVenueModalLabel">Add Venue</h5>
          <button type="button"
                  id="closeVenueModalButton"
                  class="btn btn-info text-white close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-messages" id="modal-venue-messages"></div>
          <form id="createVenueForm">
            {% csrf_token %}
            {{ venue_form.name|as_crispy_field }}
            {{ venue_form.city|as_crispy_field }}
            {{ venue_form.country|as_crispy_field }}
            <div id="state-field" style="display:none;">  {# add an id to this div #}
              {{ venue_form.state|as_crispy_field }}
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary text-white mt-2" id="venueCreateButton"
                      data-url="{% url 'concerts:venue-create' %}">Add Venue</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/concert_create.js' %}"></script>
  <script src="{% static 'js/venue_form.js' %}"></script>
{% endblock content %}
