{% if user.is_authenticated and concert.id in user_concerts %}
  <form class="form-inline" method="POST" action="{% url 'concerts:unattend-concert' pk=concert.id%}">
      {% csrf_token %}
      <div class="text-center">
          {% if in_user_detail %}
              <button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove concert from my list" class="btn btn-danger btn-delete btn-sm">
                  <i class="bi bi-trash3-fill trash-icon-red"></i>
              </button>
              <input type="hidden" name="next" value="user-detail">
          {% else %}
              <button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove concert from my list" class="btn btn-danger btn-sm btn-delete text-danger">
                  Remove From My Concerts
              </button>
              {% if in_artist_detail %}
                  <input type="hidden" name="next" value="artist-detail">
              {% else %}
                  <input type="hidden" name="next" value="concert-list">
              {% endif %}
          {% endif %}
      </div>
  </form>
{% endif %}


