{% extends "base.html" %}

{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-8 col-sm-12">
      <div class="card">
        <h5 class="card-header card-header-custom display-4 text-center">New Venue</h5>
      </div>
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form.name|as_crispy_field }}
          {{ form.city|as_crispy_field }}
          {{ form.country|as_crispy_field }}
          <div id="state-field" style="display:none;">  {# add an id to this div #}
            {{ form.state|as_crispy_field }}
          </div>
        </fieldset>
        <div class="text-center">
          <button class="btn btn-outline-info text-white" type="submit">Add Venue</button>
        </div>
        <br />
      </form>
    </div>
  </div>
  <script src="{% static 'js/venue_form.js' %}"></script>
{% endblock content %}
