{% extends "base.html" %}

{% block content %}
  <br />
  <div class="content-section">
    <div class="row d-flex mt-4 text-center">
      <h1>Venues</h1>
    </div>
    <table class="table table-striped" style="white-space:nowrap;">
      {% for venue in venue_list %}
        <tr>
          <td>
            <a class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover text-decoration-none link"
               href="{% url 'concerts:venue-detail' venue.id %}">{{ venue.name }} - {{ venue.city }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="form-group">
    <a class="link" href="{% url 'concerts:venue-create' %}">
      <button class="btn btn-outline-info text-white" type="submit">Add Venue</button>
    </a>
  </div>
{% endblock content %}
