{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-6 col-sm-12">
      <div class="card">
        <h5 class="card-header card-header-custom display-4 text-center">{% translate "Sign Up" %}</h5>
        <div class="card-body">
          <p class="text-center">
            {% translate "Please sign up using one of your existing third party accounts" %}
          </p>
          <div class="socialaccount_ballot">
            <ul class="socialaccount_providers list-unstyled text-center">
              {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
